####################################
#      ZeroNET's Perl IRC Bot      #
#          Configuration           #
####################################
#       ZeroNET Information        #
#      Host - irc.zeronet.us       #
#          SSL Port: 6697          #
#    Project Channel - #ZeroBot    #
####################################

# server configuration
server:irc.zeronet.us
port:6697
ssl:true
nick:ZeroBot
ident:ZeroBot
gecos:My Realname Goes Here
# define the channels you wish the bot to join on connect
channel:#ZeroBot
channel:#MyDen

# password to identify to nickserv
nickserv:NickServPass

# command prefix trigger
trigger:~

# owner and admin lines - add as many lines as you like.
admin:*!*@admin.host.here
owner:*!*@owner.host.here
